PORT=3000
MONGO_URI=mongodb://localhost:27017/darna
JWT_SECRET=my_super_secret_key
JWT_EXPIRES_IN=7d

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=realestate-media

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_password

LLM_API_KEY=your_ai_api_key
TIRELIRE_API_URL=